<div class="blog-post">
  <h2 class="blog-post-title"><a href="/{{ path }}"><i class="fa fa-link title-icon"></i> {{ title }}</a></h2>
  {{> post_header}}

  {{#if less}}

    {{{ less }}}

    <div>
      <a class="btn btn-lg btn-info" href="/{{ path }}">Read More…</a>
    </div>

  {{else}}

    {{{ contents }}}

  {{/if}}

</div>
