<div class="blog-post">
  <h2 class="blog-post-title"><a href="/{{ path }}"><i class="fa fa-link title-icon"></i> {{ title }}</a></h2>
  {{> post_header}}

  {{#if less}}

    {{{ less }}}

    <ul class="pager">
      <li><a href="/{{ path }}">Read&nbsp;More…</a></li>
    </ul>

  {{else}}

    {{{ contents }}}

  {{/if}}

</div>
