<h2 class="blog-post-title"><a href="/{{ path }}"><i class="fa fa-link title-icon"></i> {{ title }}</a></h2>
<p class="blog-post-meta">
  {{formatDateYMD date}}
  {{#if author}}
    by <strong>
      {{#if author.name}}
        {{#if author.href}}<a href="{{ author.href }}">{{/if}}
          {{ author.name }}
        {{#if author.href}}</a>{{/if}}
      {{else}}
        {{ author }}
      {{/if}}
    </strong>
  {{/if}}
</p>
