<h3>Recent</h3>
<ol class="list-unstyled">
  {{#each-limit blog 20}}
  <li><a href="/{{ path }}" title="{{title}} posted {{formatDateYMD date}}">{{#chr-gt title 25}}{{truncate title 25 '…'}}{{else}}{{title}}{{/chr-gt}}</a></li>
  {{/each-limit}}
</ol>
